<h1>Join <%= @trip.name %> !</h1>

<p>Voulez vous rejoindre le trip ?</p>
<%= link_to "Join `#{@trip.name}`", trip_add_participant_path , class: "btn btn-success" %>
<%= link_to "Cancel", trips_path, class: "btn btn-danger" %>
