<div class="container">
  <h1 class="text-center">Join <%= @trip.name %> !</h1>

  <p class="text-center">Do you want to join <%= @trip.name %> ?</p>

  <div class="d-flex justify-content-around">
    <%= button_to "Join #{@trip.name}", add_participant_trip_path(@trip) , class: "btn btn-success text-white" %>
    <%= link_to "Cancel", trips_path, class: "btn btn-danger" %>
  </div>
</div>
