// Define variables for your color scheme

// Text and background
$primary-text-color: #042040;
$secondary-text-color: #364A61;
$tertiary-text-color: #65778C;
$icone-color: #768599;
$light-blue-background: #9bbce4;
$gray-500: #BEC8D2;
$gray-400: #EFEFEF;
$gray-300: #EBF0F3;
$gray-200: #F6F9FC;
$white: #FFFFFF;

// Components and messages
$primary-blue: #0e6edd;
$success-green: #16A34A;
$error-red: #DC2626;
$warning-orange: #EA580C;
