<div class="navbar fixed-top navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag 'gathergo_logo.png', alt: 'GatherGo Logo' %>
  <% end %>
</div>
