<div>
  <div class="tabbar">
    <%= link_to trip_path(@trip), class: "tabbar-button #{'tabbar-active' if active_button == 'hub'}" do %>
      <i class="fa-regular fa-font-awesome"></i>
      <span>Trip hub</span>
    <% end %>


    <%= link_to root_path, class: "tabbar-button #{'tabbar-active' if active_button == 'dates'}" do %>
      <i class="fa-regular fa-calendar"></i>
      <span>Dates</span>
    <% end %>

    <%= link_to root_path, class: "tabbar-button #{'tabbar-active' if active_button == 'messages'}" do %>
      <i class="fa-regular fa-comments"></i>
      <span>Messages</span>
    <% end %>

    <%= link_to root_path, class: "tabbar-button #{'tabbar-active' if active_button == 'updates'}" do %>
      <i class="fa-solid fa-gear"></i>
      <span>Settings</span>
    <% end %>
  </div>
</div>
