<h1>Main title</h1>
<h2>Secondary title</h2>
<h3>Third title</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquam a magna vel semper. Cras quis sem sit amet odio varius porta. Sed at dui neque. Phasellus nulla magna, volutpat vel elementum vel, eleifend vitae neque. Proin pretium elit id lacinia porttitor. Curabitur rhoncus dapibus viverra. Maecenas eget dolor non nisl sollicitudin faucibus eu sit amet tortor. Vestibulum rutrum eleifend odio ut aliquam.</p>

<a href="#">Link</a>

<div class="input-group">
  <input type="text" class="form-control" placeholder="Text input">
</div>

<button type="button" class="btn">Base class</button>
<button type="button" class="btn btn-primary">Button primary</button>
<button type="button" class="btn btn-outline-primary">Button outline primary</button>

<%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete } %>
<%= link_to "Sign up", new_user_registration_path %>

<%= render "shared/tabbar" %>
