.carousel-indicators [data-bs-target] {
  width: 10px; /* change width */
  height: 10px; /* change height */
  border-radius: 100%; // /* add border-radius */
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  padding: 0;
  margin: 25px auto;
  // background-color: black;
  border-radius: 15px;
  width: fit-content; /* Assure-toi que le conteneur ait une largeur ajustée au contenu */
  padding: 0 5px;
}

.splide__slide {
  // height: 200px;
  background-color: black;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // font-size: 24px;
}

.splide__slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.2s ease-in-out;

  &.zoomed {
    // transform: scale(1.05); /* Légère mise à l'échelle */
    object-fit: contain;
  }
}
