.header-btn {
  width: 40px;
  height: 40px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $primary-text-color;
  background-color: white;
  color: $primary-text-color;
  border: 1px solid $primary-text-color;
  border-radius: 20px;
}

.header-btn-on-show {
  position: fixed;
  z-index: 2;
  top: 0;
  margin: 14px 15px;
}

.right {
  right: 0;
}
