.offcanvas-header {
  &.header-calendar {
    padding-top: 28px;
  }

  &.header-share {
    padding-top: 80px;
  }
}

.offcanvas {
  z-index: 9;

  &.border-radius-calendar {
    border-radius: 28px 28px 0 0;
  }

  &.border-radius-share {
    border-radius: 0 0 28px 28px;
  }
}

.offcanvas-backdrop {
  z-index: 8;
}

.no-hover:hover {
  background-color: white;
  color: inherit;
  border-color: inherit;
  /* Autres propriétés que tu veux garder identiques au `hover` */
}
