.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1rem 0;

  &::before,
  &::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid $primary-text-color;
  }

  .separator-text {
    padding: 0 1rem;
    color: $primary-text-color;
    font-size: 0.875rem;
  }
}
