<div class="empty-state">
  <i class="fa-solid fa-map-location-dot"></i>
  <p>No destinations yet</p>
  <%= link_to new_trip_destination_path(trip), class: "btn btn-primary" do %>
    Add first destination
  <% end %>
</div> 