<%= render partial: 'shared/header_card', locals: {
    title: "Destinations",
    left_buttons: capture do %>
      <%= render 'shared/header_button',
          url: trip_path(@trip),
          icon_class: "fa-arrow-left",
          title: "Go back"
      %>
    <% end
}%>

<ul class="mt-5">
  <% @destinations.each do |destination| %>
    <li><%= link_to destination.name, trip_destination_path(@trip, destination) %></li>
  <% end %>
</ul>

<%= render "shared/tabbar", active_button: "none" %>
